/* SnoopUIHeader.css */
.snoop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
     background-image: linear-gradient(to right, rgba(104, 99, 249, 1), rgba(93, 39, 175, 1));;
  }
  
  .snoop-header-left {
    display: flex;
    align-items: center;
    margin-left: 7px;
  }
  
  .snoop-menu-button {
    margin-right: 10px;
  }
  
  .snoop-header-right {
    position: relative;
  }
  
  .snoop-avatar-container {
    position: relative;
   
  }
  
  .snoop-callout {
    position: absolute;
    top: calc(100% + 10px); /* Adjust this value as needed */
    right: 0;
    z-index: 10;
  }
  